[access]
	inheritFrom = ansible/roles
[project]
	description = Ansible lf-recommended-tools role. Installs the recommended tools needed by build instances in LF CI infrastructure
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/lf-gerrit-ansible-roles-lf-recommended-tools-committers
	push = +force group Administrators
