[access]
	inheritFrom = ansible/roles
[project]
	description = Ansible lf-recommended-tools role. Installs the recommended tools needed by build instances in LF CI infrastructure
[access "refs/*"]
	read = group GitHub Replication
	read = group Gitlab Replication
	owner = group saml/lf-gerrit-ansible-roles-lf-recommended-tools-committers
